/**
 * SPDX-FileCopyrightText: 2019-2020 Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@charset "utf-8"

$menu-item-color: hsl(0, 0%, 4%)
$text: #efefef
$text-strong: #eaeaea;
$background: hsl(0, 0%, 4%)
$primary: #0079c1

$shadow-key-umbra-opacity: 0.6;
$shadow-key-penumbra-opacity: $shadow-key-umbra-opacity * 0.7;
$shadow-ambient-shadow-opacity: $shadow-key-umbra-opacity * 0.6;

/*! bulma.io v0.9.0 | MIT License | github.com/jgthms/bulma */
@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/elements/_all"
@import "sass/form/_all"
@import "sass/components/_all"
@import "sass/grid/_all"
@import "sass/helpers/_all"
@import "sass/layout/_all"

body
  background-color: $background

.header,
.navbar
  background-color: $background
  color: $black;

.navbar-item
  font-size: 1.25rem;

.navbar-brand img
  max-height: 100%;
  padding: 0.1rem


@media (min-width:1100px)
  .laptop-with-overlay
    max-width: 900px;

.laptop-with-overlay
  margin-left: auto
  margin-right: auto
  margin-top: 20px
  filter: drop-shadow(0.3rem 0.3rem 0.2rem #ddd)

.laptop, .phone,
.laptop-with-overlay
  position: relative;

.laptop-overlay
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3%;
  margin-left: 8.5%;
  width: 84%;


/**
 * Section about the last release
 */

#kubuntu-last-release
  display: flex
  align-items: center
  justify-content: center
  background-image:  url(https://cdn.kde.org/aether-devel/images/wallpaper3.jpg)
  height: 350px
  background-position: center center
  background-size: cover;
  color: white;

.breeze-window
  max-width: 400px
  width: 90%
  margin-left: auto
  margin-right: auto

.breeze-window .kwin-shadow
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.75)
  border-radius: 5px

.breeze-window .headerbar
  background-image: linear-gradient(to bottom, #545f67, #475057)
  color: white
  text-align: center
  padding: 10px
  height: 30px
  line-height: 12px
  width: 100%
  border-top-right-radius: 5px
  border-top-left-radius: 5px
  position: relative

.breeze-window .headerbar img
  width: 22px
  height: 22px
  padding: 0
  margin: 0
  position: absolute
  top: 4px
  border-width: 0

.breeze-window img.window-close
  right: 4px

.breeze-window img.window-maximize
  right: 30px
  top: 7px
  width: 16px
  height: 16px

.breeze-window img.window-minimize
  top: 7px
  width: 16px
  height: 16px
  right: 52px

.breeze-window .view
  padding: 10px
  color: #000
  width: 100%
  background-color: #eff0f1
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 5px
  text-align: center

.breeze-window h2
  font-size: 20px;
  margin-top: 10px;


.components
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

.product
  background-color: #efefef;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 calc((100% / 2) - 2rem);

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0 3px 1px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0 1px 5px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity)

  &:hover
    box-shadow: 0 0 8px rgba(0,0,0, $shadow-key-umbra-opacity * 0.9), 0 8px 16px rgba(0,0,0, $shadow-key-umbra-opacity * 0.9 * 2)

  h2
    margin: 1rem;
    font-weight: 600;
  h3
    font-size: 1.4rem;

.product-ubuntu
  flex: 1 1 calc(100% - 2rem);
  background-color: #5E2750;
  background-image: linear-gradient(-89deg, #e95420 0%, #772953 42%, #2c001e 94%)
  h3, h2
    color: white
    text-shadow: 0px 0px 10px rgba(0,0,0,.6)
    max-width: 500px

.product-focus
  background: #000 url(/img/kfocus-bkgd-black.svg)
  background-repeat: no-repeat
  background-origin: border-box
  background-size: cover
  background-position: center
  height: 600px;

  img
    padding-top: 30px;
    padding-bottom: 30px;

  h2, h3
    text-shadow: 0px 0px 10px rgba(0,0,0,.6)
    color: white

.logo
  height: 64px
  width: 64px

.plasma-logo
  height: 64px
  width: 64px
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.6))

.product-plasma
  background: url(https://cdn.kde.org/aether-devel/images/wallpaper3.jpg)
  background-repeat: no-repeat
  background-origin: border-box
  background-size: cover
  background-position: center

  h2, h3
    text-shadow: 0px 0px 10px rgba(0,0,0,.6)
    color: white

.product-applications
  background: url(/img/applications.svg)
  background-repeat: no-repeat
  background-origin: border-box
  background-size: cover
  background-position: center
  .description
    color: black
    background-color: rgba(255, 255, 255, 0.8)
    padding: 1rem
    width: 100%
    margin-top: auto
  h2
    margin-left: 0
    color: black


/* Utils */

.is-flex-center-vertial-childs
  display: flex
  flex-direction: column
  justify-content: center

.hero .subtitle
  max-width: 90%
  margin-left: auto;
  margin-right: auto;

.explanations
  gap: 1rem

.explanaition
  background: $primary
  border-radius: 3px
  flex: 1 1 calc((100% / 2) - 2rem);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.6))
  padding: 0

  div
    margin: 1rem

  .header
    background: darken($primary, 20)
    color: white
    padding: 1rem
    margin: 0
    border-top-left-radius: 3px
    border-top-right-radius: 3px

.app
  display: flex
  justify-content: center
  align-items: center

  @media (min-width: 1200px)
    &:nth-child(even)
      flex-flow: row-reverse;
      .app-img
        margin-left: -30rem
        margin-right: 0
        

  @media (max-width: 1199px)
    flex-direction: column

.app-info
  max-width: 600px
  text-align: center
  padding-left: 2rem
  padding-right: 2rem

.app-img
  @media (min-width: 1200px)
    margin-right: -30rem

  @media (max-width: 1199px)
    width: 800px
    max-width: 100%
