{{ define "main" }}
<main class="container" role="main">
    {{ if not .Params.noTitle }}
    <h1>{{ .Title }}</h1>
    {{ end }}

    {{ if .Params.toc }}
    {{ .TableOfContents }}
    {{ end }}

    {{ .Content }}

    {{ if .Params.tags }}
      <div class="blog-tags">
        {{ range .Params.tags }}
          <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    {{ end }}

    {{ if $.Param "socialShare" }}
        <hr/>
        <section id="social-share">
          <div class="list-inline footer-links">
            {{ partial "share-links" . }}
          </div>
        </section>
    {{ end }}

    {{ if .Site.Params.showRelatedPosts }}
      {{ $related := .Site.RegularPages.Related . | first 3 }}
      {{ with $related }}
      <h4 class="see-also">{{ i18n "seeAlso" }}</h4>
      <ul>
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
      {{ end }}
    {{ end }}
  </article>

  {{ if ne .Type "page" }}
    <ul class="pager blog-pager">
      {{ if .PrevInSection }}
        <li class="previous">
          <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
        </li>
      {{ end }}
      {{ if .NextInSection }}
        <li class="next">
          <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}


  {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (and .Site.Params.comments (ne .Type "page"))) }}
    {{ if .Site.DisqusShortname }}
      {{ if .Site.Params.delayDisqus }}
      <div class="disqus-comments">                  
        <button id="show-comments" class="btn btn-default" type="button">{{ i18n "show" }} <span class="disqus-comment-count" data-disqus-url="{{ trim .Permalink "/" }}">{{ i18n "comments" }}</span></button>
        <div id="disqus_thread"></div>

        <script type="text/javascript">
          var disqus_config = function () {
          this.page.url = '{{ trim .Permalink "/" }}';
        };

      </script>
      </div>
      {{ else }}
      <div class="disqus-comments">
        {{ template "_internal/disqus.html" . }}
      </div>
      {{ end }}
    {{ end }}
    {{ if .Site.Params.staticman }}
      <div class="staticman-comments">
        {{ partial "staticman-comments.html" . }}
      </div>
    {{ end }}
  {{ end }}
</main>
{{ end }}
