{{ define "main" }}
<main role="main">
  {{range  .Params.applications }}
    <div class="app">
      <div class="app-info">
        <h2 class="is-size-2">{{ .name }}</h2>
        <div class="app-description is-size-5">
          {{ .description | markdownify }}
        </div>
      </div>
      <img class="app-img" src="{{ .screenshot }}" />
    </div>
  {{ end }}
</main>
{{ end }}
