<footer class="footer">
  {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
      <div class="">
        <h3>{{ .Name }}</h3>
        {{ range .Children }}
          <a href="{{ .URL }}"> {{ .Name }}</a>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</footer>
