{{ define "main" }}
<main id="home">
  <section class="hero is-fullheight-with-navbar">
    <div class="container has-text-centered is-flex-center-vertial-childs">
      <h1 class="is-size-1">Kubuntu</h1>
      <h2 class="is-size-4 mt-3">Surf the web, keep in touch with friends, manage files, enjoy music and video, and get productive at work thanks to the best Free Open Source Software available. Kubuntu adapts to you and keeps your data safe and private in the process.</h2>
      <div class="laptop-with-overlay mt-2 mb-3">
        <img class="laptop img-fluid mt-3" src="https://kde.org/content/plasma-desktop/laptop.png" alt="empty laptop with an overlay">
        <div class="laptop-overlay">
          <img class="img-fluid mt-3" src="https://kde.org/content/home/kde-main.jpg" alt="Screenshot Plasma with Dolphin and system setting open" loading="lazy" width="1200" height="675">
        </div>
      </div>
      <div class="has-text-centered mt-4"><a href="" class="button is-primary">Download</a></div>
    </div>
  </section>

  <section class="section container">
    <h2 class="has-text-centered mb-5 is-size-2">Powerful</h2>
    <div class="columns explanations">
      <div class="column explanaition">
        <div class="header is-size-4">Simple and user friendly</div>
        <div class="is-size-5">uuuuu</div>
      </div>
      <div class="column explanaition">
        <div class="header is-size-4">Advanced</div>
        <div class="is-size-5">First column</div>
      </div>
      <div class="column explanaition">
        <div class="header is-size-4">Trusted</div>
        <div class="is-size-5">Community project with a strong focus on open source and privacy-respecting technology.</div>
      </div>
    </div>
  </section>

  <section class="section">
    <h1 class="has-text-centered is-size-2 mb-5">Build on top of giants</h1>
    <div class="components">
      <a href="https://kde.org/plasma-desktop" class="product product-plasma">
        <svg class="plasma-logo" width="64" version="1.1" xmlns="http://www.w3.org/2000/svg" height="64" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape">
         <defs id="defs5455">
          <linearGradient inkscape:collect="always" id="linearGradient4326">
           <stop id="stop4328"/>
           <stop offset="1" style="stop-opacity:0" id="stop4330"/>
          </linearGradient>
          <linearGradient inkscape:collect="always" xlink:href="#linearGradient4326" id="linearGradient4434" y1="502.798" x1="439.57144" y2="512.79803" x2="429.57144" gradientUnits="userSpaceOnUse"/>
         </defs>
         <metadata id="metadata5458"/>
         <g inkscape:label="Capa 1" inkscape:groupmode="layer" id="layer1" transform="matrix(1 0 0 1 -384.57143 -483.798)">
          <path style="fill:#fff;fill-rule:evenodd" id="path4422" d="M 41 5 L 35 11 L 46 22 L 35 33 L 41 39 L 58 22 L 41 5 z " transform="matrix(1 0 0 1 384.57143 483.798)"/>
          <rect width="6.250019" x="400.32141" y="489.79797" rx="3.12501" height="6.250019" style="fill:#fff" id="rect4119"/>
          <flowRoot line-height="125%" style="font-size:32.500004;font-family:sans-serif" id="flowRoot4170">
           <flowRegion id="flowRegion4172">
            <rect width="87.75001" x="452.32144" y="489.79807" height="48.750004" id="rect4174"/>
           </flowRegion>
           <flowPara id="flowPara4176">Plasm</flowPara>
          </flowRoot>
          <rect width="9.00002" x="390.57141" y="509.2988" rx="4.499995" height="8.999991" style="fill:#fff" id="rect4308"/>
          <rect width="12.999995" x="403.57144" y="528.79803" rx="6.499998" height="12.999995" style="fill:#fff" id="rect4312"/>
          <path inkscape:connector-curvature="0" style="fill:url(#linearGradient4434);opacity:0.9;fill-rule:evenodd" id="path4426" d="m 423.57143,512.798 6,6 7,-7 -6,-6 z"/>
         </g>
        </svg>
        <h2 class="subtitle">Plasma</h2>
        <h3>A modern and modular desktop</h3>
       </a>
      <a href="/applications" class="product product-applications">
        <div class="description">
          <h2 class="subtitle">Applications</h2>
          <h3>Todo nice description.</h3>
        </div>
      </a>
      <a href="https://ubuntu.com/desktop" class="product product-ubuntu">
        <h2 class="subtitle">Ubuntu</h2>
        <h3 class="has-text-centered">The open source Ubuntu desktop operating system powers millions of PCs and laptops around the world.</h3>
      </a>
      <a href="https://kfocus.org" class="product product-focus">
        <h2 class="subtitle">Kubuntu Focus</h2>
        <h3 class="has-text-centered">The open source Ubuntu desktop operating system powers millions of PCs and laptops around the world.</h3>
        <img src="/img/focus.png" alt="Picture of the Kubuntu Focus" />
      </a>
    </div>
  </section>

  <section id="kubuntu-last-release" class="section">
    <div class="breeze-window">
      <div class="kwin-shadow">
        <div class="headerbar">
          About Kubuntu 20.04 LTS
          <img alt="" src="https://kde.org/content/plasma-desktop/window-minimize.svg" class="window-minimize">
          <img alt="" src="https://kde.org/content/plasma-desktop/window-maximize.svg" class="window-maximize">
          <img alt="" src="https://kde.org/content/plasma-desktop/window-close.svg" class="window-close">
        </div>
        <div class="view">
          <h2>Latest Release: Kubuntu 20.04 LTS</h2>
          <p>Featuring an emoji picker, a global edit mode, user feedback and much more.</p>
          <a href="/announcements/plasma-5.19.0" class="breeze-button">See Announcements</a><br>
        </div>
      </div>
    </div>
  </section>

  <section class="section-relative">
    <div class="container text-center">
      <h1>Supports Many Formats</h1>
      <img src="/images/okular-format-support.svg" class="img-fluid" style="max-height: 100px" />
      <p>Okular supports many document formats. This include PDF, EPub, DjVU, images, commic books and more.</p>
      <p>
        <a class="learn-more mt-3" href="/applications">See format compatibily table</a>
      </p>
   </div>
  </section>

  <section id="features">
    <div class="container my-4">
      <h1 class="mb-3 text-center">Advanced user interface</h1>
      <div class="row">
        <div class="col-12 col-lg-9 row">
          <figure class="col-12">
            <img src="/images/screenies/okular-annotations-main.png" class="img-fluid" />
            <figcaption>Annotate your PDFs</figcaption>
          </figure>
        <figure class="col-12 col-lg-5">
          <img src="/images/screenies/okular-selection-mode.png" class="img-fluid w-100" />
          <figcaption>Multiple ways to select your content</figcaption>
        </figure>
        <figure class="col-12 col-lg-6">
          <img src="/images/screenies/okular-magnifier.png" class="img-fluid" />
          <figcaption>Zoom in your pdf details</figcaption>
        </figure>
        </div>
        <figure class="col-12 col-lg-3">
          <img src="/images/screenies/okular-sidebar.png" class="img-fluid" />
          <figcaption>Content overview</figcaption>
        </figure>
        <figure class="col-3">
          <img src="/images/screenies/okular-thumnails.png" class="img-fluid" />
          <figcaption>Presentation mode</figcaption>
        </figure>
        <figure class="col-9">
          <img src="/images/screenies/okular-presentation.png" class="img-fluid" />
          <figcaption>Thumbnails</figcaption>
        </figure>
      </div>
    </div>
  </section>
</main>
{{ end }}
