<figure class="text-center">
  <iframe src="{{ with .Get "src"}}{{ . }}{{ end }}" class="embed-responsive  ml-auto mr-auto {{ with .Get "class"}}{{ . }}{{ end }}"  {{ with .Get "style"}}style="{{ . }}"{{ end }}></iframe>
</figure>
